.left {
  border: 1px solid;
  width: 10px;
  height: 100px;
  position: relative;
  left: 0px;
}

.right {
  border: 1px solid;
  width: 10px;
  height: 100px;
  position: absolute;
  right: 0px;
  top: 10px;
}

.down {
  border: 1px solid;
  width: 100px;
  height: 10px;
  position: relative;
  bottom: 0px;
}

.up {
  border: 1px solid;
  width: 100px;
  height: 10px;
  position: relative;
  top: 0px;
}

.cell {
  /* border: 1px solid black; */
  position: relative;
  margin: -2px;
}
